body { background-color: darkgreen }
#container { background-color: lightgoldenrodyellow; width: 900px; height: 650px; margin: 5px auto }
#headBand {
  background-color: bisque;
  height: 130px; border-bottom: 1px solid lightgrey;
  padding: 5px 0 0 5px;
  clear: both; position: relative
}
#headBandTitle { position: absolute; left: 150px; top: 30px }
.hidden { display: none }
.visible { display: initial }