.hidden { display: none }

#cawContents { width: 340px; margin: 5px }

.cawFormRow { min-height: 25px; width: 100%; margin-bottom: 10px }
.cawFormRow:after { content: ""; display: table; clear: both; height: 0 }

.cawLabel { height: 25px; width: 75px; float: left; line-height: 25px }
.cawField { height: 25px; width: 250px; float: left }

.buttonBar { height: 30px }
#cawSave { float: left }
#cawCancel { float: right; margin-right: 10px }
#cawSave, #cawCancel { margin-top: 10px }
.buttonBar:after { content: ""; display: table; clear: both; height: 0 }

#colorAssignmentButtons { margin: 10px; padding: 5px }

#cawTitle img { float: left; clear: left }
#cawTitle span {
  line-height: 18px; display: block; float: left; clear: right;
  margin-left: 15px; font-weight: bold; font-style: italic
}
#cawTitle:after { content: ""; display: table; clear: both; height: 0 }